.SashCalculator {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  justify-content: space-around;
  justify-items: center;
  font-family: 'Patua One', cursive;
}

/*Sash Percentage styling*/
.SashPercentage {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
}

.SashPercentage > input{
  max-width: 75%;
  font-stretch: normal;
  font-family: 'Patua One', cursive;
  text-align: center;
}

.sashimg {
    justify-self: normal;
    max-width: 80px;
    height: auto;
    width: 70%;
}

/* Weapon styling*/
.weapondiv {
  display: grid;
  grid-row: span 2;
  grid-column: span 3;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-self: normal;
  justify-content: space-between;
}

.weapondiv > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.weaponselector {
  opacity: 0;
  width: 0;
  height: 0;
}

.weaponimg {
  width: 60%;
  max-width: 50px;
  height: auto;
  cursor: pointer;
}

.weaponselector:checked + .weaponimg{
  outline: 2px solid #f00;
}

/*Item Level styling*/
.itemLevel {
  grid-row: 4/span 1;
  grid-column: 1/span 3;
  width: 30%;
  display: flex;
  justify-items: center;
  margin: 2rem 0 1rem;
}

/*Bonuses styling*/
.Bonuses {
  grid-row: 5/span 1;
  grid-column: 1/span 3;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.BonSpace {
  margin: 0 0.5%;
}

.RemoveButton {
  cursor: pointer;
  color: #df0909;
  background: none;
  border: none;
}

.AddBonusButton {
  cursor: pointer;
  width: 50%;
  align-self: center;
  margin: 1rem 0;
}

.SingleBonus {
  margin: 0 0 0.5rem 0;
}

.SingleBonus > select {
  max-width: 40%;
}

.SingleBonus > input{
  max-width: 30%;
  font-family: 'Patua One', cursive;
  font-stretch: normal;
}

/*Final values styling*/
.FinalValues {
  display: grid;
  grid-row: 6/span 3;
  grid-column: 1/span 3;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.ValuesTablediv {
  grid-row: span 2;
  margin: 10% 0;
}

.CalculateButton {
  grid-column: span 3;  
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid #df0909;
  outline:none;
  cursor: pointer;
}

.FinalValuesTable {
  width: auto;
  height: 100%;
  border-collapse: separate;
  background:#fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.FinalValuesTable > thead {
  border-radius: 5px;
}

.FinalValuesTable > thead th {
  font-family: 'Patua One', cursive;
  padding: 10%;
  font-size:100%;
  color:#fff;
  text-shadow:1px 1px 0px rgba(0,0,0,0.5);
  text-align:center;
  background-image:linear-gradient(#646f7f, #4a5564);
  border-top:1px solid #858d99;
}

.FinalValuesTable > tbody tr td {
  font-family: 'Open Sans', sans-serif;
  color:#5f6062;
  font-size:100%;
  border-bottom:1px solid #e0e0e0;
  
}

.FinalValuesTable > tbody tr:nth-child(2n) {
  background:#f0f3f5;
}

.FinalValuesTable > tbody tr:last-child td {
  border-bottom:none;
}

.FinalValuesTable > tbody:hover > tr:hover td {
  text-shadow:none;
  color:#ffffff;
  background: #000000;
  opacity:1.0;
}
