.SashCalculator {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  justify-content: space-around;
  justify-items: center;
}

/*Sash Percentage styling*/
.SashPercentage {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
}

.sashimg {
  zoom:1.75;
}

/* Weapon styling*/
.weapondiv {
  display: grid;
  grid-row: span 2;
  grid-column: span 3;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-self: normal;
  justify-content: space-between;
}

.weapondiv > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.weaponselector {
  opacity: 0;
  width: 0;
  height: 0;
}

.weaponimg {
  zoom: 1.75;
  cursor: pointer;
}

.weaponselector:checked + .weaponimg {
  outline: 1.5px solid #f00;
}

/*Item Level styling*/
.itemLevel {
  grid-row: 4/span 1;
  grid-column: 1/span 3;
  width: 25%;
  display: flex;
  justify-items: center;
  margin: 2rem 0 1vh;
}

/*Bonuses styling*/
.Bonuses {
  grid-row: 5/span 1;
  grid-column: 1/span 3;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Bonuses > button {
  margin: 1rem 0;
}

.Bonuses > .SingleBonus {
  margin: 0 0 0.5rem 0;
}

/*Final values styling*/
.FinalValues {
  display: grid;
  grid-row: 1/span 6;
  grid-column: 4/span 3;
  text-align: center;
  grid-template-rows: auto auto auto;
  align-items: center;
}

.ValuesTablediv {
  grid-row: span 2;
}

.CalculateButton {
  background: #00ff00;
}

.FinalValuesTable {
  border-collapse: separate;
  background:#fff;
  border-radius: 5px;
  margin: 50px auto;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.FinalValuesTable > thead {
  border-radius: 5px;
}

.FinalValuesTable > thead th {
  font-family: 'Patua One', cursive;
  font-size:16px;
  font-weight:400;
  color:#fff;
  text-shadow:1px 1px 0px rgba(0,0,0,0.5);
  text-align:left;
  padding:20px;
  background-image:linear-gradient(#646f7f, #4a5564);
  border-top:1px solid #858d99;
}

.FinalValuesTable > tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:#5f6062;
  font-size:13px;
  padding:20px 20px 20px 20px;
  border-bottom:1px solid #e0e0e0;
  
}

.FinalValuesTable > tbody tr:nth-child(2n) {
  background:#f0f3f5;
}

.FinalValuesTable > tbody tr:last-child td {
  border-bottom:none;
}:first-child {
    border-bottom-left-radius:5px;
  }:last-child {
    border-bottom-right-radius:5px;
  }

.FinalValuesTable > tbody:hover > tr:hover td {
  text-shadow:none;
  color:#ffffff;
  background: #000000;
  opacity:1.0;
}
